body {
    background-color: black;
    color: white;
}

#container {
    display: grid;
    grid-template-areas:
        "header header"
        "ok notok"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: black;
    padding: 5px;
}

#header {
    grid-area: header;
    text-align: center;
    border: 4px solid white;
}

#ok {
    grid-area: ok;
    background-color: green;
    background-image: linear-gradient(to bottom, green, black);
    border: 4px solid white;
}

#notok {
    grid-area: notok;
    background-color: red;
    background-image: linear-gradient(to bottom, red, black);
    border: 4px solid white;
    font-size: 20px;
}

#footer {
    grid-area: footer;
    text-align: center;
    border: 4px solid white;
}

.nav {
    /* background-color: white; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav:hover {
    background-color: white;
    color: black;
}

#description {
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}
