body {
    background-color: black;
    color: white;
}

.main_container {
    display: grid;
    grid-template-areas:
        "header header"
        "performers_info content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: black;
    padding: 5px;
}


#prom{
    color: black;
}

#header {
    grid-area: header;
    text-align: center;
    position: sticky;
    top: 0;
    /* border: 4px solid white; */
}
.nav {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav:hover {
    background-color: white;
    color: black;
}

.content {
    grid-area: content;
    /* border: solid 2px white; */
}

#Director {
    font-size: 20px;
}

.Performers_info_container {
    grid-area: performers_info;
    /* border: solid 2px white; */
}

.Performers_img {
    height: 200px;
}

.Performers_social {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90px;
}

.Performers_social:hover {
    background-color: white;
    color: black;
}

.footer {
    grid-area: footer;
    text-align: center;
}