body{
    background-color: black;
    color: white;
}

#container {
    display: grid;
        grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: black;
    padding: 5px;
}

#prom{
    color: black;
}

#header {
    grid-area: header;
    text-align: center;
    position: sticky;
    top: 0;
    /* border: 4px solid white; */
}

.nav {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav:hover {
    background-color: white;
    color: black;
}

.gallery > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 2em;
  padding: 0;
}

.gallery > ul > li {
  list-style: none;
}

.gallery li a {
  display: block;
  line-height: 0;
  height: 200px;
  max-height: 200px;
}

.gallery > ul > li img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}



#footer {
    grid-area: footer;
    text-align: center;
    border: 4px solid white;
}








/* .gallery > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 2em;
  padding: 0;
}

.gallery > ul > li {
  list-style: none;
}

.gallery li a {
  display: block;
  line-height: 0;
  height: 200px;
  max-height: 200px;
}

.gallery > ul > li img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} */